# node
node_modules

# build outputs
dist/
build/

# db
*.db

# log
*.log

# env
.env
.env.local
.env.*.local

# vscode
.vscode/
!.vscode/extensions.json

# Just for learn, so ignore package-lock.json
package-lock.json