<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();
                const message = $('input[name="message"]').val();
                $.post('/message', { message: message }, function() {
                    $('ul').append('<li>' + message + '</li>');
                    $('input[name="message"]').val('');
                });
            });
        });
    </script>
</head>
<body>
    <h1>Message Board</h1>
    <form>
        <input type="text" name="message" placeholder="Write a message..." required />
        <button type="submit">Post Message</button>
    </form>
    <ul>
        <% messages.forEach(msg => { %>
            <li><%= msg %></li>
        <% }); %>
    </ul>
</body>
</html>
